* {
    box-sizing: border-box;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    color: lightblue;
}
h1 {
    font-size: 4em;
}
h1, h2 {
    margin-bottom: 10px;
}

.page-wrap {
    width: 800px;
    margin: 20px auto;
}

.main-story {
    position: relative;
    margin-bottom: 25px;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
}

.story-intro h1 {
    font-size: 2.5em;
}
.story-intro p {
    margin: 0;
}

.sub-stories {
    overflow: hidden;
    margin-bottom: 25px;
}

.sub-story {
    float: left;
    width: 250px;
    margin-right: 25px;
    position: relative;
    font-size: 80%;
}

.last {
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
    }
    h1, h2 {
        margin-bottom: 1.25%;
    }
    p {
        font-size: 100%;
    }
    .page-wrap {
        width: 100%;
        margin: 2.5% auto;
    }
    .main-story {
        width: 100%;
        position: relative;
        margin-bottom: 2.5%;
    }
    .sub-stories {
        overflow: hidden;
        margin-bottom: 3%;
    }
    .sub-story {
        width: 31.25%;
        margin-right: 3.125%;
    }
    .story-intro {
        width: 100%;
        padding: 2.5%;
    }
    .last {
        margin-right: 0;
    }
    .story-intro h1 {
        font-size: 1.5em;
    }
    .story-intro p {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {

    .pagewrap {
        width: 100%;
        margin: 2.5% auto;
    }
    .main-story {
        width: 100%;
        position: relative;
    }
    .sub-story {
        width: 100%;
        margin: 0;
        float: none;
        position: relative;
        font-size: 80%;
    }
    h1 {
        font-size: 2em;
    }
    h1, h2 {
        margin-bottom: 1.25%;
    }
    p {
        font-size: 60%;
    }
    .story-intro h1 {
        font-size: 1em;
    }
    .story-intro p {
        margin: 0;
    }
}